{% load url from future %}

<div id="{{ id }}" class="fileupload-container">
	<small>Drag a file here</small>
	<span class="btn btn-default fileinput-button">
		<span>Choose files</span>
		<input id="{{ id }}_input" type="file" name="fileupload[]" multiple>
	</span>
</div>

<script>
	jQuery(document).ready(
		function($) {
			(
				function(context) {
					var zone = $('#' + context);
					var input = $('#' + context + '_input');
					var dropZoneTimeout = null;

					function getCookie(name) {
						var cookieValue = null;
						if (document.cookie && document.cookie != '') {
							var cookies = document.cookie.split(';');
							for (var i = 0; i < cookies.length; i++) {
								var cookie = $.trim(cookies[i]);
								if (cookie.substring(0, name.length + 1) == (name + '=')) {
									return decodeURIComponent(cookie.substring(name.length + 1));
								}
							}
						}
					}

					function createUploader() {
						var csrftoken = getCookie('csrftoken');
						
						input.fileupload(
							{
								dataType: 'json',
								url: '{% url 'fileupload' %}?handler={{ handler|urlencode }}&params={{ params|urlencode }}',
								dropZone: zone,
								pasteZone: zone,
								singleFileUploads: false,
								add: function(e, data) {
									var addFiles = 0;
									
									$.each(data.files,
										function(index, file) {
											console && console.log(file);
											if(typeof(file.size) == 'number' && file.size > 0) {
												addFiles ++;
											}
											
											if(addFiles == 1) {
												$(document).trigger('fileupload:start');
											}
										}
									);
									
									if(addFiles == 0) {
										return;
									}
									
									zone.addClass('full').removeClass('error').html(
										'<div class="progress"><div class="progress-bar"></div></div>' +
										'<small>Calculating time remaining</small>'
									);
									
									data.submit();
								},
								progressall: function(e, data) {
									if(!data.total) {
										return;
									}
									
									var progress = data.loaded / data.total * 100;
									var kbps = Math.round(
										data.bitrate / 1024, 0
									).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
									
									zone.find('.progress .progress-bar').css('width', progress + '%');
									if(progress >= 100) {
										zone.find('small').html('Finishing up');
									} else {
										zone.find('small').html('Uploading at ' + kbps + 'kbps');
									}
								},
								done: function(e, data) {
									zone.removeClass('full').html(
										'<small>Upload a new file</small>' +
										'<span class="btn btn-default fileinput-button">' +
											'<span>Choose files</span>' +
											'<input id="' + context + '_input" type="file" name="fileupload[]" multiple>' +
										'</span>'
									);
									
									$(document).trigger('fileupload:done');
									{{ callback_js }}(data);
									createUploader();
								},
								error: function(e, data) {
									zone.addClass('error').find('small').html(
										'Errors occurred during the upload. Please try again'
									);
								}
							}
						);
					}

					createUploader();
					
					$(document).bind('dragover',
						function(e) {
							if (!dropZoneTimeout) {
								zone.addClass('in');
							} else {
								clearTimeout(dropZoneTimeout);
							}
							
							if (e.target === zone[0]) {
								zone.addClass('hover');
							} else {
								zone.removeClass('hover');
							}
							
							dropZoneTimeout = setTimeout(
								function() {
									dropZoneTimeout = null;
									zone.removeClass('in hover');
								}, 100
							);
						}
					);
				}
			)('{{ id }}');
			
			$(document).bind('drop dragover',
				function(e) {
					e.preventDefault();
				}
			);
		}
	);
</script>